@tailwind base;
@tailwind components;
@tailwind utilities;

/* App global styles */
html, body, #root {
  height: 100%;
}
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
  background: #F7FAFC;
  color: #1A202C;
}
